<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <script type="text/javascript" scr="/javascripts/garden/lib/html5.js"></script>
    </head>
    <body>

        <header id="header" class="wrapper">
            <a href="#"><img id="logo" src="/images/logo.png" alt="会议通"></a>
            <p class="info">——带给您方便快捷的会议管理解决方案<span class="icon-checkmark"></span></p>
        </header><!-- end of header -->

        <% if ( isLogin ) { %>
        <nav id="menu" data-email="<%= email %>">
            <ul class="list">
                <li class="item">
                    <a class="public" href="/"><span class="icon-bullhorn"></span>去发布</a>
                </li>
                <li class="item">
                    <a class="square" href="/square"><span class="icon-binoculars"></span>去广场</a>
                </li>
                <li class="item">
                    <a class="person" href="/person"><span class="icon-user-3"></span>个人主页</a>
                </li>
            </ul>
        </nav>

        <% } %>

        <%- body %>

        <footer id="footer" class="wrapper">
            <p class="copyright">MeetingAPP &copy; Power By Niko -2013 <span class="icon-html5-2"></span><span class="icon-css3"></span></p>
        </footer>

        <div id="info-box">
            <a class="btn-cancel" href="#cancel">取消</a>
        </div>

        <script src="/javascripts/garden/seajs/sea.js" data-config="meeting/config.js" data-main="meeting/main.js"></script>
    </body>
</html>