<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style-admin.css" />
  </head>
  <body>
    <%- body %>
    <script src="/javascripts/kissy/build/seed-min.js"></script>
    <script src="/javascripts/assets/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/assets/bootstrap.min.js"></script>
    <script src="/javascripts/assets/admin.js"></script>
  </body>
</html>