<div class="container">
   <form id="admin-login-form" class="form-horizontal" action="/adminlogin" method="post">
      <h3>管理员登陆</h3>
      <div class="control-group">
         <label class="control-label" for="inputEmail">Email</label>
         <div class="controls">
            <input type="text" id="inputEmail" placeholder="Email" name="email">
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="inputPassword">Password</label>
         <div class="controls">
            <input type="password" id="inputPassword" placeholder="Password" name="password">
         </div>
      </div>
      <div class="control-group">
         <div class="controls">
            <button type="submit" class="btn">Sign in</button>
         </div>
      </div>
   </form>
</div>
<div id="box-alert"> </div>