@import "./font-frontpage.css";
/*
*    Meeting App Style
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: '微软雅黑', serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
  *zoom: 1;
}
::-moz-selection {
  background-color: #e95e3f;
  color: #ffffff;
}
::-webkit-selection {
  background-color: #e95e3f;
  color: #ffffff;
}
::selection {
  background-color: #e95e3f;
  color: #ffffff;
}
/** 0 - variable **/
/* default */
.upcase {
  text-transform: uppercase;
}
/* color */
/* background */
/* border */
/* animate */
@-webkit-keyframes markBlink {
  0% {
    color: #e95e3f;
  }
  100% {
    color: #e32332;
  }
}
@keyframes markBlink {
  0% {
    color: #e95e3f;
  }
  100% {
    color: #e32332;
  }
}
/* font */
/* custom */
.btn-blue {
  background-color: #4488dd;
  border: 1px solid #6fa3e5;
  color: #ffffff;
  display: inline-block;
  padding: 4px 14px;
  font-size: 12px;
  text-decoration: none;
}
.btn-blue:hover {
  background-color: #5a96e1;
}
.btn-red {
  background-color: #e32332;
  border: 1px solid #e9505c;
  color: #ffffff;
  display: inline-block;
  padding: 4px 14px;
  font-size: 12px;
  text-decoration: none;
}
.btn-red:hover {
  background-color: #e63a47;
}
.btn-orange {
  background-color: #e95e3f;
  border: 1px solid #ee846d;
  color: #ffffff;
  display: inline-block;
  padding: 4px 14px;
  font-size: 12px;
  text-decoration: none;
}
.btn-orange:hover {
  background-color: #ec7156;
}
.btn-minor {
  background-color: #e95e3f;
  border: 1px solid #ee846d;
  color: #ffffff;
  display: inline-block;
  padding: 4px 14px;
  font-size: 12px;
  text-decoration: none;
  background: none;
  border: 1px solid transparent;
  color: #e95e3f;
  text-decoration: underline;
}
.btn-minor:hover {
  background-color: #ec7156;
}
.btn-minor:hover {
  background-color: transparent;
  color: #ec7156;
}
/* global */
body {
  background: url(../images/bg-white-tt.png) repeat;
  color: #454545;
}
.wrapper {
  margin: 0 auto;
  position: relative;
  width: 1080px;
}
#dialog-wrap {
  background: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
}
.first-title {
  background-color: #4488dd;
  color: #ffffff;
  display: block;
  font-size: 14px;
  padding: 5px 15px;
  position: absolute;
  top: 0;
  left: 0;
}
/* hearder */
#header {
  border-bottom: 1px solid #dddddd;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  height: 50px;
}
#header:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
  *zoon: 1;
}
#header .info {
  position: absolute;
  right: 0;
  bottom: 20px;
  line-height: 20px;
  font-size: 12px;
  text-align: right;
}
#header .info span {
  color: #8dc03d;
  margin-left: 5px;
}
/* login */
#login-page {
  padding: 20px 0;
}
#logo {
  display: block;
  float: left;
}
#login-content {
  /* end of sidebar */

  /* end of login-about */

}
#login-content:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
  *zoon: 1;
}
#login-content .sidebar {
  border-right: 1px dashed #dddddd;
  display: block;
  padding: 20px 0 0 0;
  float: left;
  width: 278px;
  min-height: 500px;
}
#login-content .sidebar .title {
  line-height: 40px;
}
#login-content .sidebar .title span {
  margin-left: 5px;
}
#login-content .login-about {
  padding: 20px;
  float: left;
  width: 760px;
}
#login-content .login-about .meta {
  margin: 20px 0;
}
#login-content .login-about .meta:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
  *zoon: 1;
}
#login-content .login-about .meta .meta-item {
  border-right: 1px dashed #dddddd;
  float: left;
  padding: 0 16px;
  width: 220px;
  min-height: 100px;
}
#login-content .login-about .meta .meta-item .title {
  color: #454545;
  font-size: 14px;
  line-height: 30px;
}
#login-content .login-about .meta .meta-item .title span {
  padding-right: 10px;
}
#login-content .login-about .meta .meta-item .title .icon-lightning {
  color: #ffd62c;
}
#login-content .login-about .meta .meta-item .title .icon-wrench {
  color: #4488dd;
}
#login-content .login-about .meta .meta-item .title .icon-tree {
  color: #e95e3f;
}
#login-content .login-about .meta .meta-item .info {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #999999;
  font-size: 12px;
  line-height: 20px;
}
#login-content .login-about .meta .meta-item .info:hover {
  color: #454545;
}
#login-content .login-about .meta .meta-item:last-child {
  border-right: none;
}
#login-form {
  padding: 10px 0;
}
.i-form .group {
  text-align: center;
}
.i-form .filed-input {
  display: block;
  position: relative;
  margin-bottom: 15px;
}
.i-form .filed-input label {
  color: #454545;
  display: inline-block;
  padding: 8px 5px;
  font-size: 12px;
}
.i-form .filed-input input {
  background: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
  color: #999999;
  display: inline-block;
  padding: 7px 4px;
  font-size: 12px;
  width: 200px;
}
.i-form .filed-input input:hover {
  background: #ffffe0;
  border: 1px solid #dddddd;
  color: #454545;
}
.i-form .filed-input .verify-error {
  color: #e32332;
  cursor: pointer;
  display: block;
  margin-top: -10px;
  position: absolute;
  top: 40%;
  right: 10px;
  font-size: 16px;
  line-height: 20px;
  height: 20px;
  width: 20px;
  text-align: center;
}
.i-form .filed-button {
  display: inline-block;
}
.i-form .filed-button a {
  margin: 0 2px;
}
/* reg form */
#reg-content {
  background-color: #ffffff;
  border: 4px solid #eeeeee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: none;
  padding: 40px 10px 20px 10px;
  position: fixed;
  top: 120px;
  left: 50%;
  margin-left: -200px;
  width: 370px;
  text-align: center;
}
#reg-content .close {
  color: #e32332;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 14px;
  text-decoration: none;
  z-index: 99;
}
#reg-content .title {
  background-color: #4488dd;
  color: #ffffff;
  position: absolute;
  top: -5px;
  left: -5px;
  font-size: 13px;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}
#reg-form .filed-input {
  text-align: center;
}
/*
* 个人页面 person
*/
#person-page:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
  *zoon: 1;
}
#user-info {
  background-color: #f8f8f8;
  border: 1px dashed #dddddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4) inset;
  padding: 40px 10px 10px 10px;
  position: relative;
  margin: 10px 0;
  float: left;
  width: 240px;
  /* end of user-logo */

}
#user-info .user-logo {
  position: relative;
}
#user-info .user-logo .img {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 4px;
  width: 60px;
}
#user-info .user-logo .name {
  position: absolute;
  top: 5px;
  left: 80px;
}
#user-info .user-logo .logout {
  color: #999999;
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  left: 80px;
}
#user-info .user-logo .logout:hover {
  color: #e32332;
}
#user-info .info-list .item {
  border-bottom: 1px dashed #dddddd;
  display: block;
  padding: 5px 0;
  margin: 5px 0;
  /* end of value-wrap */

}
#user-info .info-list .item:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
  *zoon: 1;
}
#user-info .info-list .item .key {
  border-right: 1px solid #dddddd;
  display: block;
  float: left;
  font-size: 12px;
  padding: 10px 10px 10px 0;
  height: 60px;
  width: 45px;
  text-align: right;
}
#user-info .info-list .item .key span {
  color: #999999;
  padding-right: 5px;
  font-size: 12px;
}
#user-info .info-list .item .value-wrap {
  float: left;
  padding: 10px;
  position: relative;
  width: 160px;
  min-height: 60px;
  overflow: hidden;
}
#user-info .info-list .item .value-wrap .correct {
  color: #8dc03d;
}
#user-info .info-list .item .value-wrap .value {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #999999;
  font-size: 12px;
  word-break: break-all;
}
#user-info .info-list .item .value-wrap .value .update-wrap label {
  display: block;
  margin-bottom: 5px;
}
#user-info .info-list .item .value-wrap .value .update-wrap input {
  border: 1px solid #dddddd;
  padding: 2px;
  font-size: 12px;
  width: 145px;
}
#user-info .info-list .item .value-wrap .value .update-wrap a {
  background-color: #8dc03d;
  border: 1px solid #719931;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
}
#user-info .info-list .item .value-wrap .value .update-wrap a:hover {
  opacity: 0.9;
}
#user-info .info-list .item .value-wrap .value .error {
  color: #e32332;
  padding: 2px 0;
}
#user-info .info-list .item .value-wrap .update {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #999999;
  display: block;
  position: absolute;
  right: -30px;
  bottom: 10px;
  font-size: 12px;
  z-index: 100;
}
#user-info .info-list .item .value-wrap:hover {
  background-color: #fffff0;
}
#user-info .info-list .item .value-wrap:hover .value {
  color: #454545;
}
#user-info .info-list .item .value-wrap:hover .update {
  right: 10px;
}
#user-info .info-list .item .value-wrap:hover .update:hover {
  color: #e32332;
}
#user-info .info-list .item-name {
  display: none;
}
#user-info .info-list .item-array {
  display: none;
}
/* end of user-info */
#meeting-info {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4) inset;
  padding: 40px 10px 10px 10px;
  position: relative;
  margin: 10px 0;
  float: right;
  width: 780px;
}
#meeting-info .meeting-list .title {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
}
#meeting-info .meeting-list .title span {
  color: #999999;
  padding-right: 5px;
}
#meeting-info .meeting-list .list {
  /* end of list */

  /* end of item-info */

}
#meeting-info .meeting-list .list .item {
  display: block;
  /* end of flag */

}
#meeting-info .meeting-list .list .item .flag {
  background-image: -moz-linear-gradient(bottom, #eeeeee, #fbfbfb);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#eeeeee));
  background-image: -ms-linear-gradient(to bottom, #fbfbfb, #eeeeee);
  background-image: linear-gradient(to bottom, #fbfbfb, #eeeeee);
  border: 1px solid #cccccc;
  border-radius: 5px;
  color: #454545;
  cursor: pointer;
  display: block;
  padding: 9px 14px;
  position: relative;
  margin-top: 10px;
  font-size: 14px;
  text-shadow: 1px 1px 0 #dddddd;
}
#meeting-info .meeting-list .list .item .flag:hover {
  background-image: -moz-linear-gradient(bottom, #e0e0e0, #ffffff);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e0e0e0));
  background-image: -ms-linear-gradient(to bottom, #ffffff, #e0e0e0);
  background-image: linear-gradient(to bottom, #ffffff, #e0e0e0);
}
#meeting-info .meeting-list .list .item .flag:active,
#meeting-info .meeting-list .list .item .flag:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4) inset;
  padding: 10px 14px 8px 14px;
}
#meeting-info .meeting-list .list .item .flag span {
  color: #8dc03d;
  padding-right: 5px;
}
#meeting-info .meeting-list .list .item .flag .loading {
  background: url(../images/icon-loading.gif) no-repeat center center;
  display: none;
  position: absolute;
  top: 8px;
  right: 5px;
  width: 20px;
  height: 20px;
}
#meeting-info .meeting-list .list .meeting-info {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  display: none;
  overflow: hidden;
  position: relative;
  /* meta-list */

}
#meeting-info .meeting-list .list .meeting-info .info-meta {
  padding: 10px;
  float: left;
  width: 260px;
}
#meeting-info .meeting-list .list .meeting-info .info-meta .meta-list .item {
  border-bottom: 1px dashed #dddddd;
  display: block;
  padding: 10px;
}
#meeting-info .meeting-list .list .meeting-info .info-meta .meta-list .item:hover {
  background-color: #fffff0;
}
#meeting-info .meeting-list .list .meeting-info .info-meta .meta-list .item .key {
  color: #999999;
  font-size: 13px;
  line-height: 25px;
  position: relative;
}
#meeting-info .meeting-list .list .meeting-info .info-meta .meta-list .item .key span {
  color: #999999;
  padding-right: 5px;
}
#meeting-info .meeting-list .list .meeting-info .info-meta .meta-list .item .key .update {
  background-color: #8dc03d;
  border: 1px solid #719931;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin-left: 5px;
  position: absolute;
  top: 4px;
  right: 0;
  width: 30px;
  height: 16px;
  line-height: 16px;
  text-decoration: none;
  text-align: center;
}
#meeting-info .meeting-list .list .meeting-info .info-meta .meta-list .item .key .update:hover {
  background-color: #a4cd63;
}
#meeting-info .meeting-list .list .meeting-info .info-meta .meta-list .item .key .cancel {
  background-color: #e32332;
  border: 1px solid #bb1825;
}
#meeting-info .meeting-list .list .meeting-info .info-meta .meta-list .item .key .cancel:hover {
  background-color: #e9505c;
}
#meeting-info .meeting-list .list .meeting-info .info-meta .meta-list .item .value {
  color: #454545;
  font-size: 13px;
  line-height: 20px;
}
#meeting-info .meeting-list .list .meeting-info .info-meta .meta-list .item .value .update-box .value-input {
  border: 1px solid #dddddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
  color: #999999;
  padding: 2px;
}
#meeting-info .meeting-list .list .meeting-info .info-meta .meta-list .item .value .update-box .value-input:focus {
  background-color: #fffff0;
  color: #454545;
}
#meeting-info .meeting-list .list .meeting-info .info-meta .meta-list .item .value .update-box .sure {
  background-color: #8dc03d;
  border: 1px solid #719931;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin-left: 5px;
  width: 30px;
  height: 16px;
  line-height: 16px;
  text-decoration: none;
  text-align: center;
}
#meeting-info .meeting-list .list .meeting-info .info-meta .meta-list .item .value .update-box .sure:hover {
  background-color: #a4cd63;
}
#meeting-info .meeting-list .list .meeting-info .info-user {
  padding: 10px;
  float: right;
  width: 470px;
}
#meeting-info .meeting-list .list .meeting-info .info-user .list-wrap {
  border: 1px solid #dfdfdf;
  padding: 10px;
  margin-bottom: 20px;
}
#meeting-info .meeting-list .list .meeting-info .info-user .list-wrap .title {
  font-size: 13px;
}
#meeting-info .meeting-list .list .meeting-info .info-user .list-wrap .title span {
  padding-right: 5px;
}
#meeting-info .meeting-list .list .meeting-info .info-user .user-list .item {
  font-size: 12px;
  line-height: 20px;
}
#meeting-info .meeting-list .list .meeting-info .info-user .user-list .no-item {
  color: #999999;
  font-size: 12px;
}
#meeting-info .meeting-leader {
  border-bottom: 1px dashed #dddddd;
  padding-bottom: 30px;
}
#meeting-info .meeting-user {
  padding: 30px 0;
}
/* end of meeting-info */
/* footer */
#footer {
  margin: 40px auto;
}
#footer .copyright {
  color: #999999;
  font-size: 12px;
  text-align: center;
}
#footer .copyright span {
  color: #e95e3f;
  margin-left: 5px;
}
#footer .copyright span:last-child {
  color: #4488dd;
}
